@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #f42c37;
    --color-secondary: #f42c37;
    --color-brand-yellow: #fdc62e;
    --color-brand-green: #2dcc6f;
    --color-brand-blue: #1376f4;
    --color-brand-white: #eeeeee;
}

.container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@media (min-width: 640px) {
    .container {
        padding-inline: 3rem;
    }
}

@layer components {
    .search-bar {
        @apply w-full;
    }
}